{% extends "layaut.html" %}


{% block titulo %}Agregar Persona{% endblock %}

{% block body %}
    <div class="agregar">
        <h1 class="agregar__titulo">Formulario </h1>
        <form class="formulario__agregar" action="{{ url_for('personas.guardarPersona')}}" method="post">
            <label class="formulario__agregar__label" for="nombres">Nombres:</label>
            <input class="formulario__agregar__input" required type="text"  id="nombres" name="nombres" placeholder="Ingrese su nombre">
            <label class="formulario__agregar__label"  for="apellidos">Apellidos:</label>
            <input class="formulario__agregar__input" required type="text"  id="apellidos" name="apellidos" placeholder="Ingrese sus apellidos">
            <label class="formulario__agregar__label"  for="email">Email:</label>
            <input class="formulario__agregar__input" required type="email"  id="email" name="email" placeholder="Ingrese su email">
            <label class="formulario__agregar__label"  for="edad">Edad:</label>
            <input class="formulario__agregar__input" required type="nomber"  id="edad" name="edad" placeholder="Ingrese su edad">
            <label class="formulario__agregar__label"  for="documento">Documento de identidad:</label>
            <input class="formulario__agregar__input" required type="text" id="documento"  name="documento" placeholder="Ingrese su documento">
        
            <button class="formulario__agregar__btnEnviar" >Enviar</button>
        </form>
    </div>
{% endblock %}