{% extends "layaut.html" %}


{% block titulo %}Editar Persona{% endblock %}

{% block body %}
<div class="editar">
    <h1 class="editar__titulo">Formulario </h1>
    <form class="formulario__editar" action="/actualizar/{{ persona[4] }}" method="post">
        <label class="formulario__editar__label" for="nombres">Nombres:</label>
        <input class="formulario__editar__input" value="{{ persona[0] }}" required type="text"  id="nombres" name="nombresNuevos" placeholder="Ingrese su nombre">
        <label class="formulario__editar__label"  for="apellidos">Apellidos:</label>
        <input class="formulario__editar__input" value="{{ persona[1] }}" required type="text"  id="apellidos" name="apellidosNuevos" placeholder="Ingrese sus apellidos">
        <label class="formulario__editar__label"  for="email">Email:</label>
        <input class="formulario__editar__input" value="{{ persona[2] }}" required type="email"  id="email" name="emailNuevo" placeholder="Ingrese su email">
        <label class="formulario__editar__label"  for="edad">Edad:</label>
        <input class="formulario__editar__input" value="{{ persona[3] }}" required type="nomber"  id="edad" name="edadNueva" placeholder="Ingrese su edad">    
        <button class="formulario__editar__btnEnviar" >Enviar</button>
    </form>
</div> 

{% endblock %}