{% extends "layaut.html" %}


{% block titulo %}Personas{% endblock %}


{% block body %}
<div class="container">
        <h1 class="container__titulo">Registros</h1>
        <a class="siguiente__ventana" href="{{ url_for('personas.agregar') }}">Agregar Persona</a>
        <div class="container__tabla">
            <table>
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Edad</th>
                        <th>Documento</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for persona in lista: %}
                        <tr>
                            <td>{{ persona[0] }}</td>
                            <td>{{ persona[1] }}</td>
                            <td>{{ persona[2] }}</td>
                            <td>{{ persona[3] }}</td>
                            <td>{{ persona[4] }}</td>
                            <td><a href="/editar/{{ persona[4] }}">Editar</a></td>
                            <td><a class="btn__eliminar" href="/eliminar/{{ persona[4] }}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}