*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #00000074;
}
:root{
    --border:1px solid black;
}

/*estilos de agregar*/
.agregar{
    width: 90%;
    height: 600px;
    margin: 20px auto;
}
.agregar__titulo{
    width: max-content;
    margin: auto;
    margin-top: 30px;
    color: rgba(0, 0, 255, 0.712);
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px ;
}

.formulario__agregar{
    width: 40%;
    height:600px;
    margin:10px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    padding-top: 30px;
    background-color: white;
    box-shadow: 1px 1px 6px 0px white;
}
.formulario__agregar__label{
    font-size: 18px;
    letter-spacing: 1.3px;
    text-shadow: 1px 1px 0px black;
}
.formulario__agregar__input{
    padding: 4px;
    width: 50%;
    transition: width 0.8s;
    font-size: 17px;
}
.formulario__agregar__input:focus{
    width: 80%;
    transition: width 0.8s;
}
.formulario__agregar__btnEnviar{
    margin-top: 26px;
    border: none;
    width: 45%;
    padding: 7px 29px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgb(1, 1, 1);
    background-color: rgba(0, 0, 255, 0.638);
    font-size:15px ;
    letter-spacing: 1.2px;
    transform: translateY(0px);
    transition: transform 0.5s;
}
.formulario__agregar__btnEnviar:hover{
    transform: translateY(-6px);
    transition: transform 0.5s;
    letter-spacing: 1.5px;
}

/*estilos de editar*/


/*estilos de la ventana principal*/

.siguiente__ventana{
    display: block;
    width: 200px;
    margin: 40px auto;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.57);
    padding: 9px 26px;
    font-size: 18px;
    letter-spacing: 1.3px;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 5px 0px white;
    transform: translateY(0px);
    transition-duration:0.7s ;
}
.siguiente__ventana:hover{
    transform: translateY(-7px);
    transition-property:transform ;
    transition-duration:0.7s;
}

.container{
    width: 70%;
    margin: 14px auto;
    height: 700px;
    
}
.container__titulo{
    margin: auto;
    font-size: 40px;
    width:max-content;
    color: rgb(0, 0, 255);
    margin-bottom: 20px;
    letter-spacing: 2px ;
    text-shadow: 1px 1px 0px;
    text-align: center;
}
.container__tabla{
    border: 1px solid black;
    max-width: 100%;
    min-height: 400px;
    max-height: 500px;
    padding: 1.2px;
    background-color: white;
    overflow: auto;
}
table{
    width: 100%;
    height: 100%;
    text-align: left;
}
tr,td{
    padding: 10px;
}
td{
    text-align: left;
}
thead{
    position: sticky;
    top: 0px;
    background-color: black;
    color: white;
    margin: 0px;

}
thead>tr>th{
    text-align: left;
    padding: 10px;
    font-size: 18px;
}